.footContainer {
    color: #000;
    background-color: #fff;
}

.navLink {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.navLink:hover {
    transform: scale(1.05);
    transition-duration: 0.45s;
    text-decoration: underline;
}